.prekiu-wrapper {
  padding: 20px;
  font-family: sans-serif;
  text-align: center;
}

.prekiu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin-top: 20px;
}

.prekes-blokas {
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #6458b0;
  padding: 16px;
  width: 200px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}
